@import 'color.css';

* {
    font-family: Calibri, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-details {
    font-size: 20px;
}

.app-button-main {
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.app-button-main:active {
    opacity: 0.8;
}

.app-button-gray {
    color: black;
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.app-button-gray:active {
    opacity: 0.8;
}

.app-button-tp {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.app-button-tp:active{
    opacity: 0.8;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}